body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.top-hd {
  height: 60px;
  background-color: rgba(39, 47, 84, 1);
}
.top-hd > ul {
  height: 100%;
  margin-top: 0;
  padding-left: 54%;
}
.top-hd > ul > li {
  float: left;
  list-style: none;
  position: relative;
}
.top-hd > ul > li > a {
  color: white;
  display: block;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 10px;
}
.bot-hd {
  height: 75px;
  background-color: rgba(39, 47, 84, 1);
  position: sticky;
  z-index: 10;
  top: 0;
}
.bot-hd >ul> img {
  float: left;
  width: 180px;
  height: 55px;
}
.bot-hd > ul {
  height: 100%;
  width: 1200px;
  margin-top: 0;
  padding: 0px;
  margin: 0 auto;
}
.bot-hd > ul > li {
  float: left;
  list-style: none;
  position: relative;
}

.bot-hd > ul > li > a {
  color: white;
  display: block;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 8px;
}
.bot-hd > ul > li > a > i {
  font-size: 7px;
}
.GTC:hover > .sub_menu {
  display: block;
}
.sub_menu {
  list-style: none;
  background-color: white;
  padding: 0px;
  position: absolute;
  z-index: 1;
  min-width: 235px;
  box-shadow: 0 0 2px 0 rgba(128, 128, 128, 0.64);
  display: none;
}
.sub_menu > li {
  font-size: 15px;
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.332);
  display: block;
}
.sub_menu > li:hover {
  background-color: rgb(234, 233, 233);
}
.sub_menu > li:hover > a {
    color: orange;
  }
.sub_menu > li > a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
}
.TS:hover > .sub_menu{
  display: block;
}
.CTDT:hover > .sub_menu {
  display: block;
}
.sub_menu > li:hover > .sub_menu3-1{
    display: block;
}
.sub_menu3-1 {
    list-style: none;
    background-color: white;
    padding: 0px;
    position: absolute;
    z-index: 1;
    min-width: 235px;
    box-shadow: 0 0 2px 0 rgba(128, 128, 128, 0.64);
    left: 100%;
    top: 0;
    display: none;
  }
  .sub_menu3-1 > li {
    font-size: 15px;
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.332);
  }
  .sub_menu3-1 > li > a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
  }
  .sub_menu3-1 > li:hover {
    background-color: rgb(234, 233, 233);
  }
  .sub_menu3-1 > li:hover > a {
    color: orange;
  }
  .HDSV:hover > .sub_menu {
    display: block;
  }
  .TD:hover > .sub_menu {
    display: block;
  }
  .body-gt{
    width: 1200px;
    height: auto;
    margin: 0 auto;
  }
  .body-gt>h1{
    margin: 40px 0;
  }
  .body-gt>p{
    font-size: 15px;
    margin-top: 20px;
  }
  .body-gt>h3{
    color: #d44700;
  }
  .csdt{
    width: 1000px;
    height: 560px;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .xemthem{
    margin-left: 50%;
    transform: translate(-50%);
    width: 240px;
    height: 80px;
  }


