/* * {
        font-family: sans-serif;
        box-sizing: border-box;
    } */

.web {
  margin: 40px 0;
  color: rgb(8, 8, 77);
}

.banner {
  margin-top: 40px;
}

.banner::after {
  content: "";
  display: table;
  clear: both;
}

.list-web {
  padding-left: 175px;
}

.list-web li {
  background-color: white;
  font-weight: normal;
  float: left;
  list-style: none;
  font-size: 12px;
  margin: 3px;
  border: 1px solid rgba(128, 128, 128, 0.477);
  padding: 10px 0;
}

.list-web li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.list-web li:hover {
  background-color: orange;
}

.list-web li a:hover {
  color: white;
}

.box-11 {
  text-align: left;
  font-size: 13.5px;
  font-weight: normal;
  width: 1140px;
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.477);
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.futered-container {
  padding: 20px 180px;
}

.futered-1 .content-1 {
  border-radius: 20px;
  margin: 30px 0px;
}

.col-50-1 {
  float: left;
  width: 50%;
}

.col-50-1 li {
  padding: 5px 0;
}

.top {
  padding-left: 23px;
}

.col-50-1 button img {
  height: 15px;
}

.col-50-1 button {
  height: 25px;
  background-color: rgb(59, 90, 154);
  width: 80px;
  margin: 0 5px;
  border: 1px solid white;
  border-radius: 5px;
}

.col-50-1 button a {
  color: white;
  text-decoration: none;
}

.container,
.chuong-trinh {
  margin: 40px 270px;
}

.container {
  background-color: rgb(254, 149, 29);
  padding: 0 20px;
}

.content,
.chuong-trinh {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.thong-tin {
  text-align: left;
  width: calc(50% - 10px);
}

label {
  display: block;
  margin-bottom: 4px;
}

input,
select {
  border: none;
  width: 80%;
  height: 30px;
}

select {
  width: 81%;
  height: 35px;
}

.form {
  padding: 10px 10px 35px;
}

.benbutton {
  margin-top: 20px;
  background-color: rgb(57, 0, 57);
  color: white;
  padding: 12px;
  border: none;
  transition: 0.2s ease-in-out;
}

.benbutton:hover {
  background-color: green;
}

h2 {
  text-align: center;
}

h3 {
  text-align: left;
}

.dao-tao {
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}

.dao-tao img {
  width: 100%;
  transition: 0.2s ease-in-out;
}

.dao-tao:hover img {
  filter: brightness(25%);
}

.dao-tao button {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: 2px solid white;
  background: transparent;
  color: white;
}

.dao-tao:hover button {
  display: block;
}

.dao-tao button:hover {
  background-color: white;
  color: black;
}

.comment {
  display: flex;
  justify-content: center;
}

.comment input {
  width: 60%;
  border: 1px solid gray;
  height: 40px;
  margin-left: 10px;
}
